service cloud.firestore {
  match /databases/{database}/documents {
  function authenticated() { return request.auth.uid != null }

    match /temp/{tempId} {
      allow create: if false;
      allow update: if true;
      allow read: if true;
    }
  }
}